[Unit]
Description=gunicorn daemon for Surmonter_Tienda
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/Surmonter
ExecStart=/home/ubuntu/Surmonter/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/home/ubuntu/Surmonter/Surmonter_Tienda.sock \
          Surmonter_Tienda.wsgi:application


[Install]
WantedBy=multi-user.target

